<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927022828051-7j20v8spnip056s724as8pq8nkqkr42r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927022828051-7j20v8spnip056s724as8pq8nkqkr42r</string>
	<key>API_KEY</key>
	<string>AIzaSyB0CdGuRTCMWUk_nKh618akybyXHHOxOEM</string>
	<key>GCM_SENDER_ID</key>
	<string>927022828051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fightApp2</string>
	<key>PROJECT_ID</key>
	<string>fight-5e03d</string>
	<key>STORAGE_BUCKET</key>
	<string>fight-5e03d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927022828051:ios:ef9234e60b4c60232e0de6</string>
</dict>
</plist>